- content_for :title do
  UdemyC
  \|
  Editing
  = @course.title
  
.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      Edit course
  .card-body
    = render 'form', course: @course
  .card-footer
    = link_to 'Show', @courses
    \|
    = link_to 'Back', courses_path
