- content_for :title do
  UdemyC
  \|
  New course

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      New course
  .card-body
    = render 'form', course: @course
  .card-footer
    = link_to 'Back', courses_path